.search-container {
    position: relative;
    margin-bottom: 2rem;
    width: 300px;
    /*border-radius: 20%;*/
}

.search-input {
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.search-result {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.search-result:hover {
    background-color: #f0f0f0;
}

.search-result-thumbnail {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 1rem;
}
